.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f3f4f6;
  padding-top: 20px; /* Adds padding at the top to push content down */
}

.header {
  text-align: center;
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 20px 0;
  position: fixed; /* Fixes the header at the top */
  top: 0; /* Positions the header at the top of the page */
  left: 0; /* Ensures the header spans the full width */
  z-index: 1000; /* Ensures the header stays above other content */
}

.header h1 {
  font-size: 1.8rem;
}

.header p {
  margin-top: 8px;
  font-size: 1rem;
}

.login-card {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
  margin-top: 120px; 
}

.login-card h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 16px;
  text-align: left;
}

.form-group label {
  font-size: 1rem;
  display: block;
  margin-bottom: 6px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
}

.login-button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: #6b46c1;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #553c9a;
}